.login-container {
    text-align: center;
}

.login-container h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.login-container p {
    color: gray;
}

.or-text {
    margin: 1em 0;
}

.guest-text {
    margin-top: 2em;
}