.signup-container {
    text-align: center;
}

.signup-container h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.signup-container p {
    color: gray;
}

.or-text {
    margin: 1em 0;
}

.terms-text {
    margin-top: 2em;
    color: gray;
}