<ion-header>
  <ion-toolbar>
    <ion-title>Manime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="signup-container">
    <h2>Create an account</h2>
    <p>Enter your email to sign up for this app</p>

    <ion-item>
      <ion-input type="email" placeholder="email@domain.com" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="onSignup()">Sign up with email</ion-button>

    <p class="or-text">or create one with</p>
    <ion-button expand="block" color="light">
      <ion-img src="assets/google-logo.png"></ion-img> Google
    </ion-button>

    <p class="terms-text">
      By clicking continue, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
    </p>
  </div>
</ion-content>